.info {
    width: 100%;
    height: 100%;
}

.info > .projects-image {
    width: 100%;
    height: 50%;
    margin-bottom: 2vh;
    background-size: cover;
    background-position: center center;
}

.info p {
    color: var(--black-white);
}

.printing > p.title {
    color: white;
    font-size: 2rem;
}

