#projects {
    width: 100%;
    display: flex;
    align-items: center;
}

#projects > .content {
    width: 90%;
    height: 90%;
    margin-left: 17vh;
}

.type-element {
    display: inline-block;
    color: var(--black-white);
    margin-right: 4%;
    transition: all 200ms;
    font-size: 1.4rem;
}

.type-element:hover {
    color: white;
}

.projects-grid {
    margin-top: 2%;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.projects-grid > .projects-name {
    flex: 1.55 1;
}

.projects-grid .info {
    flex: 1 1;
}

