#portfolio {
    position: relative;
    top: 5%;
    width: 80%;
    height: 90%;
}


#portfolio h1 {
    font-size: 2rem;
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#portfolio > h1 {
    flex: 1 0;
    position: relative;
    left: 5vw;
    top: 2vh;
}

#portfolio > #projects {
    position: relative;
    top: 10vh;
    flex: 20 1;
}

#portfolio-before {
    padding-bottom: 2%;
}
