
#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#portfolio > h1 {
    flex: 1 0;
}

#portfolio > #projects {
    flex: 20 1;
}

