.experience {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.experience > div {
    height: 100%;
    width: 100%;
    flex: 1 1;
}

.experience > div > *:nth-child(2) {
    margin-top: 20px;
}

.experience .experience-card  {
    position: relative;
    left: 5vw;
    top: 2vh;
    padding: 10px 15px 0  ;
}

